@include font("caslongrad", caslongrad);

//----------------------------------------------------------------
//  Titles
//----------------------------------------------------------------
* {
    @extend %aa;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	color: $titleColor;
	font-weight: normal;
}

h1,
.alpha {
    font-family: "caslongrad", serif;
    font-size: 50px;
}

h2,
.beta {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h3,
.gamma {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
}

h4,
.delta {
    font-family: 'PT Sans', sans-serif;
}

h5,
.epsilon {
    font-family: 'PT Sans', sans-serif;
}

h6,
.zeta {
}

p {
}

p,
li {
    font-family: 'PT Serif', serif;
	color: $bodyColor;
    font-size: 16px;

	&.punch {

	}
}

ol,
ul {

    li {

    }
}

ul {

    li {

    }
}

ol {

    li {

    }
}
